.mb-img {
  display: block !important;
}

.pc-img {
  display: none !important;
}

.pc-flex {
  display: none;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: center;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm, .actual__item h3, .sns__item {
  margin-bottom: 16px !important;
}

.mb-lg, .sns {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg, .career__inner {
  padding-bottom: 80px !important;
}

.flex, .header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-width, .header__inner, .career__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

#container {
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

main {
  position: relative;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  padding: 0;
  margin-left: 20px;
}

.header__li > a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.header .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.hero__contents {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title > h1 {
  font-weight: 100;
  color: black;
  font-size: 40px;
  margin-left: 10px;
}

.career {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 100px;
}

.career__image {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.4);
}

.career__text {
  margin: 60px auto 30px auto;
}

.career__text > ul {
  font-size: 25px;
  color: #000;
}

.career__content {
  margin-top: 30px;
  color: #000;
  font-weight: 500;
  opacity: 0.7;
  font-size: 17px;
}

.actual {
  padding-top: 100px;
}

.actual__item h3 {
  text-align: center;
  display: block;
  font-weight: 100;
  font-size: 23px;
}

.actual__list {
  width: 90%;
  margin: 30px auto;
}

.actual__list ul li i {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-right: 5px;
}

.sns__header {
  text-align: center;
  margin-bottom: 30px;
}

.sns__header > h2 {
  font-weight: 100;
}

.sns__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.sns__item {
  text-align: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.sns__item a img {
  width: 40%;
}

.sns .pc-flex {
  display: block;
}

.sns__linkitem {
  width: 90%;
  margin: 30px auto;
}

.sns__youtube {
  position: relative;
  padding-top: 50.625%;
}

.sns__youtube > iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.sns__fanletter a {
  display: block;
  width: 250px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 400 !important;
  color: #000;
  -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer__inner {
  padding: 17px 0;
}

.footer__content {
  text-align: center;
}

.mobile-menu__main {
  margin-top: 80px;
}

.mobile-menu__item {
  font-size: 24px;
}

.mobile-menu__item > a > span > i {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 1;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.swiper-container {
  width: 100%;
}

.hero-swiper-container {
  height: 100vh;
  position: relative;
}

.actual-swiper-container {
  height: 600px;
}

.swiper-slide > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.actual__item img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70% !important;
  height: 40% !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  --swiper-navigation-size: 20px !important;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: #000;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: #000;
  text-decoration: none !important;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: #000;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

@media (min-width: 960px) {
  .pc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-swiper-container {
    height: 600px;
    position: relative;
  }
  .mb-img {
    display: none !important;
  }
  .pc-img {
    display: block !important;
  }
  .mb-block {
    display: none;
  }
  .hero__title > h1 {
    color: #fff;
    font-size: 50px;
    margin-left: 40px;
  }
  .career__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .career__image {
    margin-right: 50px;
    width: 300px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-left: 50px;
  }
  .career__text {
    margin-left: 20px;
  }
  .career__text > ul {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .career__content {
    font-weight: 100;
    opacity: 1;
    margin-top: 80px;
    font-size: 24px;
  }
  .actual__item .pc-flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 70px auto;
    width: 60%;
  }
  .actual__item img {
    margin-left: 70px;
    -ms-flex-preferred-size: 40% !important;
        flex-basis: 40% !important;
    -o-object-fit: cover;
       object-fit: cover;
    width: 500px !important;
    height: 400px !important;
  }
  .actual__list {
    margin-left: 50px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .sns__header {
    text-align: center;
    margin-bottom: 100px;
  }
  .sns__header > h2 {
    font-size: 40px;
    font-weight: 100;
  }
  .sns__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sns__item {
    text-align: center;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    display: inline;
  }
  .sns__item a img {
    width: 50%;
  }
  .sns__linkitem {
    width: 90%;
    margin: 30px auto;
  }
  .sns__youtube {
    position: relative;
    padding-top: 50.625%;
  }
  .sns__youtube > iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .sns__fanletter a {
    display: block;
    width: 250px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-weight: 400 !important;
    color: #000;
    -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  }
  .sns .pc-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */